# Node Configuration
NODE_ID=node-1
HOST=0.0.0.0
PORT=8000

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Cluster Configuration (Comma separated list of neighbor nodes)
NEIGHBORS=http://node-2:8000,http://node-3:8000
